.input-long {
	width: 300px;
}
.input-short {
	width: 150px;
}
.textarea-article {
	width: 500px;
	height: 100px;
}
a { color:#2cadff; text-decoration:none;}
a:hover {color:#000; text-decoration:none;}