body { margin:0; padding:0; width:100%; color:#9a9a9a; font:normal 12px/1.8em Helvetica, Arial, sans-serif;}
.input-long {
	width: 300px;
}
.input-short {
	width: 150px;
}
.textarea-article {
	width: 500px;
	height: 100px;
}
a { color:#2cadff; text-decoration:none;}
a:hover {color:#000; text-decoration:none;}