<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  	<display-name>share-web-admin</display-name>

<!-- 注册JSTL函数 -->
  <jsp-config>
    <taglib>
        <taglib-uri>/tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/webPagetag.tld</taglib-location>
    </taglib>
  </jsp-config>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:applicationContext*.xml
			,classpath*:applicationContext-admin.xml
			,classpath*:applicationContext-user.xml
			,classpath*:applicationContext-article.xml
		</param-value>
	</context-param>
	 
	  <!-- Spring的ApplicationContext载入 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Spring刷新Introspector防止内存泄露 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
	 
	<listener>
		<listener-class>
			com.mins5.share.web.filter.WebApplicationLisener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.mins5.share.web.filter.WebSessionListener
		</listener-class>
	</listener>
	<listener>  
		<listener-class>freemarker.ext.jsp.EventForwarding</listener-class>  
	</listener> 
	
	<filter>
   		<filter-name>encodingFilter</filter-name>
   		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
   		<init-param>
      		<param-name>encoding</param-name>
      		<param-value>UTF-8</param-value>
   		</init-param>
	</filter>
	
	<filter>
		<filter-name>actionFilter</filter-name>
		<filter-class>com.mins5.share.web.filter.SessionFilter</filter-class>
		<init-param>
			<param-name>obviablePath</param-name>
			<param-value>
				/index.mins,/login.mins,/index.jsp,/pwdRestoreAction.go,/upload/beginUpload.mins
			</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
   		<filter-name>encodingFilter</filter-name >
   		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter-mapping>
		<filter-name>actionFilter</filter-name>
		<url-pattern>*.mins</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>actionFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>randomImageSevlet</servlet-name>
		<servlet-class>
			com.mins5.share.web.common.RandomImageServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>randomImageSevlet</servlet-name>
		<url-pattern>/randomImage</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>share</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
	  		<param-name>contextConfigLocation</param-name>
	  		<param-value>/WEB-INF/spring-mvc/dispatcher-servlet.xml</param-value>
    	</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>          
		<servlet-name>share</servlet-name>
		<url-pattern>*.mins</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
    	<welcome-file>index.htm</welcome-file>
    	<welcome-file>index.jsp</welcome-file>
    	<welcome-file>default.html</welcome-file>
    	<welcome-file>default.htm</welcome-file>
    	<welcome-file>default.jsp</welcome-file>
  	</welcome-file-list>
  	
</web-app>