<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mins5.share.business.user.dao.UserDao">

	<resultMap type="com.mins5.share.business.user.domain.User" id="UserMap">
		<id property="userId" column="user_id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="gender" column="gender"/>
		<result property="createDate" column="create_date"/>
	</resultMap>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="userId">
		insert into user (username, password, gender, create_date) values (#{username}, #{password}, #{gender}, #{createDate})
	</insert>
	
	<delete id="deleteById" parameterType="long">
		delete from user where user_id = #{userId}
	</delete>
	
	<update id="update">
		update user
		<set>
			<if test="username != null">username = #{username},</if>
			<if test="password != null">password = #{password},</if>
			<if test="gender != null">gender = #{gender},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
		</set>
		where user_id = #{userId}
	</update>
	
	<select id="findById" parameterType="long" resultMap="UserMap">
		select * from user where user_id = #{userId}
	</select>
	
	<select id="findByUsernameAndPassword" resultMap="UserMap">
		select * from user where username = #{username} and password = #{password}
	</select>
	
	<select id="findUserCountLikeUsername" resultType="int">
		select count(1) from user where username like concat('%', #{username}, '%');
	</select>
	
	<select id="findUserLikeUsername" resultMap="UserMap">
		select * from user where username like concat('%', #{username}, '%');
	</select>

</mapper>