<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mins5.share.business.user.dao.UserDao">

	<resultMap type="com.mins5.share.business.user.domain.User" id="UserMap">
		<id property="userId" column="user_id"/>
		<result property="nickName" column="nick_name"/>
		<result property="realName" column="real_name"/>
		<result property="password" column="password"/>
		<result property="gender" column="gender"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="userId">
		insert into user (nick_name, real_name, password, gender, create_time) values (#{nickName}, #{realName}, #{password}, #{gender}, #{createTime})
	</insert>
	
	<delete id="deleteById" parameterType="long">
		delete from user where user_id = #{userId}
	</delete>
	
	<update id="update">
		update user
		<set>
			<if test="nickName != null">nick_name = #{nickName},</if>
			<if test="realName != null">real_name = #{realName},</if>
			<if test="password != null">password = #{password},</if>
			<if test="gender != null">gender = #{gender},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
		</set>
		where user_id = #{userId}
	</update>
	
	<select id="findById" parameterType="long" resultMap="UserMap">
		select * from user where user_id = #{userId}
	</select>
	
	<select id="findByNickNameAndPassword" resultMap="UserMap">
		select * from user where nick_name = #{nickName} and password = #{password}
	</select>
	
	<select id="findUserCountLikeNickName" resultType="int">
		select count(1) from user where nick_name like concat('%', #{nickName}, '%');
	</select>
	
	<select id="findUserLikeNickName" resultMap="UserMap">
		select * from user where nick_name like concat('%', #{nickName}, '%');
	</select>

</mapper>