<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mins5.share.business.article.dao.ArticleRecommendDao">

	<resultMap type="com.mins5.share.business.article.domain.Article" id="ArticleMap">
		<id property="articleId" column="article_id"/>
		<result property="articleTitle" column="article_title"/>
		<result property="articleContent" column="article_content"/>
		<result property="articleUrl" column="article_url"/>
		<result property="articleFrom" column="article_from"/>
		<result property="articleAuthor" column="article_author"/>
		<result property="status" column="status"/>
		<result property="updateTime" column="update_time"/>
		<result property="createTime" column="create_time"/>
		<result property="isOriginal" column="is_original"/>
		<result property="isValid" column="is_valid"/>
		<result property="kindPinYin"  column="kind_pinyin"/>
		<result property="large"  column="large"/>
		<result property="midSize"  column="midSize"/>
		<result property="small"  column="small"/>
	</resultMap>

    <resultMap type="com.mins5.share.business.article.domain.ArticleRecommend" id="recommendMap">
		<id property="recommendId" column="recommend_id"/>
		<result property="recommendPosition" column="recommend_position"/>
		<result property="recommendSort" column="recommend_sort"/>
		<result property="articleId" column="article_id"/>
	</resultMap>


	
   <!-- 查询推荐文章 add by zhanglin 20140317 -->
	<select id="findRecommendByPositionAndCount"  resultMap="ArticleMap">
		select 
			a.article_id,a.article_title,a.article_url,a.create_time, ak.kind_pinyin,
			at.large,at.midSize,at.small  
		from article a 
		left join article_recommend r on  a.article_id = r.article_id
		left join article_kind_rel akr on a.article_id = akr.article_id
		left join  article_kind ak on akr.article_kind_id  = ak.article_kind_id
		left join attachment at on  a.article_id = at.article_id
	    where
	    	a.status =2 and akr.status=1 and ak.status = 1 and at.attachmen_sts=1
	    	 and r.recommend_position = #{position}
		order by r.recommend_sort limit 0,#{num}
	</select>
	
	<!-- 校验推荐文章 add by zhanglin 20140317 -->
	<select id="checkRecommend" resultMap="recommendMap">
		select * from article_recommend
		where 1=1
		<if test="articleId != null">and article_id = #{articleId}</if>
		<if test="position != null">and recommend_position = #{position}</if>
		<if test="recommendSort != null">and recommend_sort = #{recommendSort}</if>
	</select>
	
	<!-- 新增 -->
	<insert id="save"  parameterType="ArticleRecommend" useGeneratedKeys="true" keyProperty="recommendId">
	    <![CDATA[
	        INSERT INTO article_recommend (
	        	recommend_id ,
	        	recommend_position ,
	        	recommend_sort ,
	        	article_id 
	        ) VALUES (
	        	#{recommendId} ,
	        	#{recommendPosition} ,
	        	#{recommendSort} ,
	        	#{articleId} 
	        )
	    ]]>
	</insert>

	<!-- 修改-->
	<update id="update" parameterType="ArticleRecommend">
	        UPDATE article_recommend 
	         <set>
				<if test="recommendPosition != null">recommend_position = #{recommendPosition},</if>
				<if test="recommendSort != null"> recommend_sort = #{recommendSort},</if>
				<if test="articleId != null">article_id = #{articleId}</if>
			</set>	
		        recommend_position = #{recommendPosition} ,
		        recommend_sort = #{recommendSort} ,
		        article_id = #{articleId} 
	        WHERE  recommend_id = #{recommendId} 
	</update>

</mapper>