<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 文字种类 -->
<mapper namespace="com.mins5.share.business.article.dao.ArticleKindDao">

	<resultMap type="com.mins5.share.business.article.domain.ArticleKind" id="ArticleKindMap">
		<id property="articleKindId" column="article_kind_id"/>
		<result property="kindName" column="kind_name"/>
		<result property="kindPinyin" column="kind_pinyin"/>
		<result property="status" column="status"/>
		<result property="updateTime" column="update_time"/>
		<result property="createTime" column="create_time"/>
		<result property="adminId" column="admin_id"/>
		<result property="parentKindId" column="parent_kind_id"/>
	</resultMap>
	
	<!-- 查询所有有效分类 -->
	<select id="findAllArticleKind"  resultMap="ArticleKindMap">
		select article_kind_id,kind_name,status,parent_kind_id,kind_pinyin from article_kind where status = 1 
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="articleKindId">
		insert into article_kind 
		(kind_name, kind_pinyin, status, update_time, create_time, admin_id, parent_kind_id) 
		values 
		(#{kindName}, #{kindPinyin}, #{status}, #{updateTime}, #{createTime}, #{adminId}, #{parentKindId})
	</insert>
	
	<delete id="deleteById" parameterType="long">
		delete from article_kind where article_kind_id = #{articleKindId}
	</delete>
	
	<update id="update">
		update article_kind
		<set>
			<if test="kindName != null">kind_name = #{kindName},</if>
			<if test="status != null">status = #{status},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="adminId != null">admin_id = #{adminId},</if>
			<if test="parentKindId != null">parent_kind_id = #{parentKindId},</if>
		</set>
		where article_kind_id = #{articleKindId}
	</update>
	
	<select id="findById" parameterType="long" resultMap="ArticleKindMap">
		select * from article_kind where article_kind_id = #{articleKindId}
	</select>

</mapper>