<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mins5.share.business.article.dao.ArticleDao">

	<resultMap type="com.mins5.share.business.article.domain.Article" id="ArticleMap">
		<id property="articleId" column="article_id"/>
		<result property="articleTitle" column="article_title"/>
		<result property="articleContent" column="article_content"/>
		<result property="articleUrl" column="article_url"/>
		<result property="articleFrom" column="article_from"/>
		<result property="articleAuthor" column="article_author"/>
		<result property="status" column="status"/>
		<result property="updateTime" column="update_time"/>
		<result property="createTime" column="create_time"/>
		<result property="isOriginal" column="is_original"/>
		<result property="isValid" column="is_valid"/>
	</resultMap>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="articleId">
		insert into article 
		(
			article_title, article_content, article_url, article_from, article_author,
			status, update_time, create_time, is_original, is_valid
		) 
		values 
		(
			#{articleTitle}, #{articleContent}, #{articleUrl}, #{articleFrom}, #{articleAuthor},
			#{status}, #{updateTime}, #{createTime}, #{isOriginal}, 1
		) 
	</insert>
	
	<!-- 查询随机文章 add by zhanglin 20140314 -->
	<select id="findRandomArticle" parameterType="int" resultMap="ArticleMap">
		select article_title,article_url,create_time from article where status=1 order by rand() limit 0,#{amount}
	</select>
	
	<!-- 查询文章总数 add by zhanglin 20140317 -->
	<select id="findAllArticlesCount"  resultType="int">
		select count(article_id) from article where status=1 
	</select>
	
	<!-- 根据条件查询文章  add by zhanglin 20140318-->
	<select id="findArticleByCondition"  resultMap="ArticleMap">
		select 
			article_id,article_title,article_content,article_from,article_url,article_author
        from article where status=1  limit #{startRow},#{onePageSize} 
	</select>
	
	
</mapper>