<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mins5.share.business.article.dao.ArticleLabelRelDao">

	<resultMap type="com.mins5.share.business.article.domain.ArticleLabelRel" id="ArticleLabelRelMap">
		<id property="articleLabelRelId" column="article_label_rel_id"/>
		<result property="articleId" column="article_id"/>
		<result property="labelId" column="label_id"/>
		<result property="createTime" column="carete_time"/>
	</resultMap>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="articleLabelRelId">
		insert into article_label_rel 
		(article_id, label_id, create_time) 
		values 
		(#{articleId}, #{labelId}, #{createTime})
	</insert>
	
	<delete id="deleteById" parameterType="long">
		delete from article_label_rel where article_label_rel_id = #{articleLabelRelId}
	</delete>
	
	<update id="update">
		update article_label_rel
		<set>
			<if test="articleId != null">article_id = #{articleId},</if>
			<if test="labelId != null">label_id = #{labelId},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
		</set>
		where article_label_rel_id = #{articleLabelRelId}
	</update>
	
	<select id="findById" parameterType="long" resultMap="ArticleLabelRelMap">
		select * from article_label_rel where article_label_rel_id = #{articleLabelRelId}
	</select>
	
	<delete id="deleteArticleLabelRelByArticleLabelId" parameterType="long">
		delete from article_label_rel where label_id = #{articleLabelId}
	</delete>
	
</mapper>